/* Selector ID */
#atas {
    background-color: rgb(255, 179, 0);
    color: white;
    font-size: 50px;
    text-align: center;
}
/*Selector Tag */
h1 {
    color: rgb(16, 195, 13);
}
/*Selector Class */
.isi{
    font-family: arial;
    font-size: 30px;
    color:rgb(153, 53, 90)
}